@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: none

}
header {
    background-color: #fff;
    border: none;
    color: #000;
    
}
h1.header {
    color: #000;
}
header ul a.github {
    font-size: 12px;
    color: #fff;
}

code,pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #000;
    font-size: 14px;
    background: #f7f7f7;
    padding: 4px;
}

a.header, header a {
    color: #000;
}